.movie {
    display: flex;
    color: $primary-white;
    padding: 24px 0;

    &__cover {
        flex: 0 0;
        margin-right: 60px;
    }

    &__name {
        color: $primary-color;
        font-size: 3.2rem;
        font-weight: bold;
        margin: 0;

        display: flex;
        align-content: center;
    }

    &__rating {
        margin-left: 24px;
    }

    &__weird-shit {
        font-size: 1.6rem;
        margin-bottom: 8px;
    }

    &__year,
    &__length {
        font-weight: bold;
        margin-right: 32px;
        font-size: 1.8rem;
    }

    &__description {
        margin-top: 32px;
        margin-bottom: 8px;
        font-size: 1.6rem;
    }

    &__director {
        margin: 16px 0;
    }

    &__director,
    &__cast {
        font-size: 1.4rem;
    }
}
