.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.6;
        color: $primary-color;
        padding: 0;
        margin: 16px 0;
        letter-spacing: normal;
    }
}
