.ctf-button {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ctf-controls {
    display: flex;
}

@import './map/ctf-map';
