@mixin button() {
    border: none;
    border-radius: 2px;
    color: $primary-white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 4px 48px;
    outline: none;
    text-transform: uppercase;
}
